body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.StartStop{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}
.block-container {
  background-color: #e0e7ff;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
}

.block {
  background-color: #7c3aed;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.command-list {
  background-color: #e0e7ff;
  padding: 10px;
  border-radius: 8px;
  flex: 1;
  width: 250px;
}

.command {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}

.robot-display {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 8px;
}

.reset-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  height: 25px;
}

.close-btn{
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  height: 25px;
}
.reset{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.start{
  background-color: blue;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  height: 40px;
  width: 60px;
}
/* Disabled button styles */
.start:disabled {
  background-color: grey; /* Change to the color you want for the disabled state */
  color: lightgray; /* Optional: change text color when disabled */
  cursor: not-allowed; /* Show not-allowed cursor when disabled */
  opacity: 0.7; /* Optional: make it semi-transparent */
}
